* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(39, 39, 39);
  position: relative;
  text-align: center;
  color: white;
  font-family: 'DOCKER', sans-serif;
}

.Wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.content {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Reactjs-logo{
  height: 40vmin;
  pointer-events: none;
}

.Docker-logo {
  height: 3.5vmin;
  position: absolute;
}

/* .Ocean{
  width: 50vw;
  height: 35.2vh;
  position: absolute;
  background-color: #2b485c;
  bottom: 0;
} */

@media (prefers-reduced-motion: no-preference) {
  .Reactjs-logo {
    animation: Reactjs-logo-spin infinite 20s linear;
  }
}

@keyframes Reactjs-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
